<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree" >
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
          <li class="menu-item menu-item-content" [routerLink]="['/' + node.path]" routerLinkActive="active" >
            <div class="menu-item-label d-flex align-items-center">
              <mat-icon class="label-icon">{{node.icon}}</mat-icon>
              <p class="label-text">{{node.name}}</p>
            </div>
          </li>
      </mat-tree-node>
      <mat-nested-tree-node class="parent-menu" *matTreeNodeDef="let node; when: hasChild">
        <div class="menu-item" matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <li class="menu-item-content d-flex justify-content-between">
              <div class="menu-item-label d-flex align-items-center">
                <mat-icon class="label-icon">home</mat-icon>
                <p class="label-text">{{node.name}}</p>
              </div>
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </li>
        </div>
        <ul class="menu-item-child" [@slideVertical]="treeControl.isExpanded(node) ? 'show' : null">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </mat-nested-tree-node>
    </mat-tree>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <ng-content #routerOutlet></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
